.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  order: 2;
}

@media (min-width: 768px) {
  .mainContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    grid-column-start: 2;
    width: 1120px;
    max-width: calc(100vw - 272px);
  }
}

.mainContent {
  display: flex;
  padding-bottom: 2rem;
  gap: 1rem;
  width: 100%;
}

.homeContent {
  scroll-margin-top: 56px;
  width: 100%;
}

@media (min-width: 960px) {
  .homeContent {
    max-width: calc(100% - (16px + 316px));
  }
}

@media (min-width: 1200px) {
  .homeContent {
    max-width: calc(100% - (16px + 316px));
  }
}

@media (min-width: 1392px) {
  .homeContent {
    max-width: 756px;
  }
}

.sortMain {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.sortBtmBorder {
  border-width: 0;
  border-bottom-width: 0.0625rem;
  border-style: solid;
  background-color: transparent;
  margin: 0;
}

.sortContent {
  display: flex;
  height: 32px;
}

.flexItmCtr {
  display: flex;
  align-items: center;
}

.dropdownItems {
  display: block;
  unicode-bidi: isolate;
  list-style-type: disc;
  pointer-events: none;
}

.sortList {
  margin-top: 0;
  position: relative;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
