.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  order: 2;
}

@media (min-width: 768px) {
  .mainContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    grid-column-start: 2;
    width: 1120px;
    max-width: calc(100vw - 272px);
  }
}

.mainContent {
  display: flex;
  padding-bottom: 2rem;
  gap: 1rem;
  width: 100%;
}

.homeContent {
  scroll-margin-top: 56px;
  width: 100%;
}

@media (min-width: 960px) {
  .homeContent {
    max-width: calc(100% - (16px + 316px));
  }
}

@media (min-width: 1200px) {
  .homeContent {
    max-width: calc(100% - (16px + 316px));
  }
}

@media (min-width: 1392px) {
  .homeContent {
    max-width: 756px;
  }
}

.sortContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.sortOptionContainer {
  margin-right: 1rem;
}

.sortContent {
  display: flex;
  height: 32px;
  unicode-bidi: isolate;
}

.sortOptionsMain {
  border: none;
  background-color: transparent;
  padding: 5px;
  padding-right: 0;
  padding-left: 0.625rem;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 500;
}

.optionList {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 16px;
  outline-offset: -1px;
  text-decoration-line: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  background-color: transparent;
}
