.homePageContainer {
  overflow: visible;
  display: block;
  margin-top: 60px;
}

.homePageContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .homePageContainer {
    grid-template-columns: 272px 1fr;
  }
}
